.activities {
    display: flex;
    text-align: left;
    margin-bottom: 30px;
}

.activities .section {
    margin-right: 30px;
}

.activities .section .title {
    text-align: center;
    background-color: #fff;
    width: 250px;
    padding: 2px;
    border-radius: 300px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 4px 0px #00000080;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.activities .section p {
    margin: 0;
    font-size: 14px;
    margin-left: 10px;
}