.details {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    height: calc(100% - 80px);
}

.datatext {
    width: max-content;
    text-align: left;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.details .main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}