.page {
    display: flex;
}

.formdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100vh;
    background-color: var(--grey);
}

@media only screen and (max-width: 600px) {
    .formdiv {
        width: 100%;
    }
}