.date-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.date-section .selectors {
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.date-section .link {
    text-decoration: none;
    color: #78787880;
    padding: 2px;
}

.date-section .link:hover, .date-section .active {
    color: var(--green-iwo);
}