.dia-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    border-radius: 8px;
    margin: 0;
    margin-right: 10px;
    font-family: 'Poppins';
    padding: 5px 10px;
    transition: all 0.1s ease-in-out;
}

.dia-card:hover {
    background-color: #ebebeb;
}

.dia-card:hover .mes, .dia-card:hover .sem {
    color: var(--green-iwo);
}

.sem, .mes {
    font-size: 10pt;
    line-height: 10pt;
    margin: 0;
    color: #78787880;
    transition: all 0.1s ease-in-out;
}

.dia {
    font-size: 20pt;
    line-height: 20pt;
    margin: 0;
    color: #5C5C5C;
}

.dia-card .active {
    color: var(--green-iwo);
}